<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMS.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>

    <nav class="mb-4">           
        <div class="d-flex gap-4 bg-light p-2 rounded-2 align-items-baseline">
            <span class="fs-4 fw-bolder">SMS</span>  
           
            <a class="fw-bold text-dark  text-decoration-none hover-effect" asp-controller="Home" asp-action="Index">Home</a>    
            <a class="fw-bold text-dark  text-decoration-none hover-effect" asp-controller="Home" asp-action="About">About</a>    
            <a class="fw-bold text-dark  text-decoration-none hover-effect" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a class="fw-bold text-dark  text-decoration-none hover-effect" asp-controller="Student" asp-action="Index">Students</a>
        </div>       
    </nav>
    
    <main class="container mt-4">
        @RenderBody()
    </main>

    <footer class="bottom border-top w-100 bg-light py-2 mt-5 text-muted text-center">
        &copy; 2023 - SMS.Web 
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>