@model Ticket
    

<div class="card rounded shadow p-4">
    <h3>Delete Ticket</h3>
    <h5 class="my-3 text-danger">Are you sure?</h5>

    <!-- display the student using a <dl> as per Details.cshtml -->
    <div class="col">
        <dl class="row">       
            <dt class="col-5">Student</dt>
            <dd class="col-7">@Model.Student.Name</dd>

            <dt class="col-5">Issue</dt>
            <dd class="col-7">@Model.Issue</dd>
            
            <dt class="col-5">Created</dt>
            <dd class="col-7">@Model.CreatedOn.ToShortDateString()</dd>
            
            <dt class="col-5">Active</dt>
            <dd class="col-7">@Model.Active</dd>           
        </dl>
    </div>

    <div class="mt-4">
        <!-- TBC -->
        <!-- add a form with hidden input named Id storing the ticket id  -->
        <!-- the form asp-action should call TicketDeleteConfirm          -->
        <!-- add a form input field with type of submit and value Confirm -->
        <!--   this submit field can be styled as a danger button         -->
    </div>
    
</div>