@model Ticket

<!-- TBC - add form to create a ticket -->
<!-- consider wrapping form in a card to match usage in e.g Create.cshtml -->
<h3>Create Ticket</h3>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}